.root-container {
    background-color: #d1e0e0;
    height: 100vh;
    display: block;
    padding-top: 100px;
}

.dashboard-container {
    min-height: 670px;
    border: 1px solid black;
    border-radius: 10px;
    width: 650px;
    padding: 30px;
    margin: auto;
    background-color: #f4f7fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16px 16px 16px;
}

.stats {
    background-color: #f4f7fa;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 16px;
    min-height: 80px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats:hover {
    background-color: #85a6c7;
}

.addMeetingBtn-container {
    text-align: center;
}

.addMeetingBtn {
    width: 300px;
    margin-top: 24px;
    padding: 12px 20px;
    color: #fff;
    background-color: #3399ff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0080ff
}